.container{
	
	
	padding :  10px 3%;
	
	
}
#name{
	font-size : 19px;
	color : blue;
	font-family : Arial;
}
#url{
	font-size : 16px;
	color : grey;
	font-family : Arial;
	
}
.st1{
	border-bottom : 1px solid #d1d1d1;
	margin : 2px 5px;
	padding : 4px 10px;
}

.st{
	width : 380px;
	margin : 2px 8px;
	padding : 3px;
	font-family : Arial;
	text-indent : 8px;
	font-size : 17px;
	border-radius : 6px;
	border : 1px solid grey;
	
}
.sb{
	width : 120px;
	margin : 2px 8px;
	padding : 3px;
	font-family : Arial;
	font-size : 17px;
	background : black;
	color : white;
	
	
	border-radius : 6px;
	border : 1px solid white;
}